python-telegram-bot==20.8
reportlab==3.6.12
python-dotenv
sqlalchemy
streamlit
faker
matplotlib
pandas
sns
squarify
streamlit-aggrid
pdfplumber
openai
pdf2image==1.17.0
pytesseract==0.3.10
Pillow==10.0.1
